header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	margin-bottom: 15px;
	border-bottom: 1px solid #545F71;
}
main {
	margin-top: 25px;
}
header img {
	grid-area: 1 / 1 / 2 / 2;
}
header h1 {
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
	font-size: 3em;
}
body {
	background-image: url(../media/generic-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.center {
	text-align: center;
}
iframe {
	width: 100%;
}
#manager {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 70%;
}
#manager span {
	margin-left: 7%;
}
#find_us {
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: 10px;
}