body {
	margin: 0px;
	background-image: url("../media/home/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
main {
	display: grid;
	margin: 9vh 5vh 0 5vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60vh;
}
#burger1 {
	grid-area: 1 / 1 / 2 / 2;
}
#burger2 {
	grid-area: 1 / 2 / 2 / 3;
}
#burger3 {
	grid-area: 1 / 3 / 2 / 4;
}
