body {
	margin: 0px;
	text-align: center;
}
h1, h2 {
	margin: 0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
@media (orientation:landscape) {
	a {
		color: black;
	}
	a:hover {
		color: #17176e;
	}
	body {
		margin: 0px;
		background-image: url("../media/home/background.png");
		background-repeat: no-repeat;
		background-size: 100%;
		padding-bottom: 100px;
	}
	main {
		display: grid;
		margin: 6vh 7vh 0 7vh;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 68vh;
	}
	#burger1 p {
		margin-top: 10vh;
	}
	#burger2 p {
		margin-top: 5vh;
	}
	#burger3 p {
		margin-top: 8vh;
	}
}
@media (orientation:portrait) {
	p {
		margin: 0px;
	}
	header {
		top: 0px;
		position: absolute;
		width: 100%;
	}
	h1 {
		font-size: 10vw;
		color: wheat;
		text-shadow: 0px 0px 20px black;
		-webkit-text-stroke: 2.5px black;
	}
	h2 {
		font-size: 7vw;
		text-shadow: 0px 0px 20px black;
		-webkit-text-stroke: 2.5px black;
		font-weight: 1000;
	}
	main {
		display: grid;
		margin: 27.5vh 0px 0px 0px;
		grid-template-columns: 100%;
		grid-template-rows: repeat(2, 7vh 8vh) 7vh;
	}
	#burger2 {
		grid-area: 1 / 1 / 2 / 2;
	}
	#burger3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	#burger1 {
		grid-area: 5 / 1 / 6 / 2;
	}
	a {
		color: white;
	}
	a:hover {
		color: rgb(251, 219, 161);
	}
	header:focus + main {
		display: grid;
	}
	body {
		background-image: url("../media/home/background_mobile.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		height: 72.5vh;
	}
}