body {
	display: grid;
	margin: 2vi 5vi 0 5vi;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10vi 39vi;
	background-image: url("../media/home/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#title {
	grid-area: 1 / 2 / 2 / 3;
}
#burger1 {
	grid-area: 2 / 1 / 3 / 2;
}
#burger2 {
	grid-area: 2 / 2 / 3 / 3;
}
#burger3 {
	grid-area: 2 / 3 / 3 / 4;
}
