/* title */

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
header img {
	grid-area: 1 / 1 / 2 / 2;
}
header h1 {
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
}

/*background*/

body {
	background-image: url(../media/generic-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.center {
	text-align: center;
}

/*item list menu*/

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}
.buttons {
	display: grid;
}
#filter_buttons {
	width: 90%;
}
#filter_buttons a {
	color: #ffffff;
	text-decoration: none;
	background-color: #545F71;
	border-radius: 5px;
	padding: 5px;
	width: 80px;
	margin: 5px;
}
/*burgers*/
.items {
	margin-top: 40px;
	margin-bottom: 40px;
}
.items div {
	display: grid;
	grid-template: auto auto / 250px 100px;
	width: 350px;
	outline: 1px solid #545F71;
	margin: 10px;
	cursor: pointer;
}
.items div img {
	grid-area: 1 / 1 / 2 / 3;
}
.items div strong {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
}
.items div p {
	grid-area: 2 / 2 / 3 / 3;
	text-align: right;
	margin-right: 30%;
}

/*forum*/

select {
	margin: 10px;
}
#ingredient_buttons {
	grid-template-columns: repeat(8, 1fr);
	width: 85%;
	margin-bottom: 40px;
}
textarea {
	resize: vertical;
	min-height: 130px;
}
#selects {
	margin-top: 10px;
	margin-bottom: 30px;
	max-width: 926.734px;
}