/*title*/

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
header img {
	grid-area: 1 / 1 / 2 / 2;
}
header h1 {
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
}

/*background*/

body {
	background-image: url(../media/generic-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.center {
	text-align: center;
}

/*item list menu*/

.flexbox {
	display: flexbox;
	flex-flow: row wrap;
	justify-content: space-around;
}
.buttons {
	display: grid;
}
#filter_buttons {
	grid-template-columns: repeat(5, 1fr);
	margin-bottom: 60px;
}
#filter_buttons a {
	color: #ffffff;
	text-decoration: none;
	background-color: #545F71;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 100px 5px 100px;
}
.item {
	display: grid;
	grid-template: auto auto / 250px 100px;
}
.item img {
	grid-area: 1 / 1 / 2 / 3;
}
.item strong {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
}
.item p {
	grid-area: 2 / 2 / 3 / 3;
	text-align: right;
	margin-right: 30%;
}

/*forum*/

#ingredient_buttons {
	grid-template-columns: repeat(8, 1fr);
}
textarea {
	resize: none;
}
