body {
	background-image: url(../media/generic-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}.center {
	text-align: center;
}
.flexbox {
	display: flexbox;
}
.buttons {
	display: grid;
}
#filter_buttons {
	grid-template-columns: repeat(5, 1fr);
}
#ingredient_buttons {
	grid-template-columns: repeat(8, 1fr);
}
#filter_buttons a {
	color: #ffffff;
	text-decoration: none;
	background-color: #545F71;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 100px 5px 100px;
}
.item {
	display: grid;
	grid-template: 50% 50% / 70% 30% ;
	background-color: blueviolet;
}
.item img {
	grid-area: 1 / 1 / 2 / 3;
	background-color: red;
}
.item strong {
	grid-area: 2 / 1 / 3 / 2;
	background-color: green;
	text-align: center;
}
.item p {
	grid-area: 2 / 2 / 3 / 3;
	background-color: yellow;
	text-align: right;
	margin-right: 30%;
}
textarea {
	resize: none;
}
